.add-to-cart {
  position: relative;
  top: -23px;
  left: 30%;
  background-color: #fff;
  border-radius: 25px;
  border: solid, 1px #b59684;
  width: 125px;
  height: 38px;
  z-index: 1 /*5*/;
}
.add-to-cart:hover {
  background-color: #eee;
  cursor: pointer;
}
.add-to-cart__inactive {
  display: none;
}
.add-to-cart__container {
  display: flex;
  align-items: center;
  gap: 7px;
  position: relative;
  left: 8%;
}
.add-to-cart__image {
  width: 18px;
}
.add-to-cart__paragraph {
  font-weight: 600;
  font-size: 12px;
}

.add-to-cart__counter {
  position: relative;
  top: -23px;
  left: 30%;
  background-color: hsl(14, 86%, 42%);
  border-radius: 25px;
  border: solid, 1px, hsl(14, 86%, 42%);
  width: 125px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.add-to-cart__counter-inactive {
  display: none;
}

.add-to-cart__increment {
  background: url(../images/icon-increment-quantity.svg) no-repeat center;
  border: 1px solid #fff;
  border-radius: 50px;
  background-color: hsl(14, 86%, 42%);
  width: 18px;
  height: 18px;
}
.add-to-cart__increment:hover {
  opacity: 60%;
  cursor: pointer;
}
.add-to-cart__quantity {
  color: #fff;
  font-size: 14px;
}
.add-to-cart__decrement {
  background: url(../images/icon-decrement-quantity.svg) no-repeat center;
  border: 1px solid #fff;
  border-radius: 50px;
  background-color: hsl(14, 86%, 42%);
  width: 18px;
  height: 18px;
}
.add-to-cart__decrement:hover {
  opacity: 60%;
  cursor: pointer;
}
