.your-cart {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 272px;
  margin: 0 auto;
  height: fit-content;
}
.your-cart__heading {
  padding: 0 0 0 20px;
  color: hsl(14, 86%, 42%);
  align-self: flex-start;
}
.your-cart__products {
  width: 228px;
}
.your-cart__selected {
  margin: 0 auto;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.your-cart__selected-inactive {
  display: none;
}
.your-cart__total {
  display: flex;
  gap: 90px;
  align-items: center;
}
.your-cart__total-inactive {
  display: none;
}
.your-cart__total-heading {
  font-size: 12px;
}
.your-cart__total-price {
  font-weight: bold;
}
.your-cart__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.your-cart__empty-inactive {
  display: none;
}
.your-cart__message {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fcf8f5;
  border-radius: 10px;
  padding: 0 15px;
}
.your-cart__text {
  font-size: 12px;
}
.your-cart__text-bold {
  font-weight: bold;
}
.your-cart__button-confirm {
  margin: 15px 0 0 0;
  color: #fff;
  border: none;
  background-color: hsl(14, 86%, 42%);
  font-size: 12px;
  border-radius: 20px;
  padding: 13px 0;
  width: 100%;
}
.your-cart__button-confirm:hover {
  opacity: 70%;
  cursor: pointer;
}
.your-cart__image {
  margin-top: 10px;
  width: 58%;
}
.your-cart__paragraph {
  color: #8d7875;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}
/*
@media only screen and (min-width: 1000px) {
  .your-cart {
    position: relative;
    top: -1480px;
    left: 320px;
  }
}

@media only screen and (min-width: 1280px) {
  .your-cart {
    position: relative;
    top: -883px;
    left: 418px;
  }
}
*/
