.your-cart {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 272px;
  margin: 0 auto;
}
.your-cart__heading {
  padding: 0 0 0 20px;
  color: hsl(14, 86%, 42%);
  align-self: flex-start;
}
.your-cart__image {
  margin-top: 10px;
  width: 58%;
}
.your-cart__paragraph {
  color: #8d7875;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}

@media only screen and (min-width: 1000px) {
  .your-cart {
    position: fixed;
    top: 100px;
    right: 51px;
  }
}

@media only screen and (min-width: 1440px) {
  .your-cart {
    position: relative;
    top: -883px;
    left: 390px;
  }
}
